.karla-normal {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-extra-light {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.karla-bold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: karla;
  background-color: rgb(196, 196, 196);
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.grid-page {
    display: grid;
    grid-template-rows:
    [rowp1] 230px /* intro */
    [rowpbellephoto] 1000px
    [rowpbrest] 230px
    [rowpcontexte] 230px
    [rowpexpl1] 500px
    [rowpexpl2] 400px
    [rowpexpl3] 400px
    [rowpexpl4] 400px
    [rowpexpl5] 500px
    [rowpmob] 100px
    [rowpdalles1] 400px
    [rowpdalles2] 400px
    [rowpbanc] 850px
    [rowlampphotomont] 600px
    [rowpvideo] 830px
    [rowpfin] 60px;
    grid-template-columns:
    [colp1] 20rem
    [colp2] 20rem
    [colp3] 20rem;
    gap: 0;
    overflow-x: auto;
    align-items: center;
}

.case {
  display: flex;
  text-align: center; /* centre horizontalement */
  justify-content: center;
  align-items: center; /* centre verticalement */
}

.accueil:hover {
  transform: scale(150%);
}

