.karla-normal {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.karla-extra-light {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.karla-bold {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: karla;
  background-color: rgb(196, 196, 196);
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.grid-page {
    display: grid;
    grid-template-rows:
    [rowp0] 60px /* Marie Boishus */
    [rowp1] 250px /* CV */
    [rowp2] 200px /* outils */
    [rowp3] 250px /* projets */
    [rowp4] 500px /* enquêtes de terrain / mémoires */
    [rowp5] 250px /* suite des mémoires */
    [rowp6] 60px; /* crédits */
    grid-template-columns:
    [colp1] 350px
    [colp2] 350px
    [colp3] 350px;
    gap: 0;
    overflow-x: auto;
    align-items: center;
}

.case {
  display: flex;
  text-align: center; /* centre horizontalement */
  justify-content: center;
  align-items: center; /* centre verticalement */
}

.vignette {
  border-radius: 3%;
  width: 300px;
}

a {
  color: black;
  text-decoration: none;
}

.sousdiv:hover {
  cursor: pointer;
  border: 2px solid white;
}

.sousdiv:hover a {
  font-weight: 700;
  color: white;
}

.outils {
  grid-row: rowp2;
}

.projets {
  grid-row: rowp3;
}

.memoires {
  grid-row: rowp4;
}

.memoires2 {
  grid-row: rowp5;
}

.accueil:hover {
  transform: scale(150%);
}